/* Robert Daniels, 2/28/2022, Project 1 */


header{
    display: inline-block;
    
}
body {
    width: 80%;
    margin: auto;
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: antiquewhite;
    padding-top: 2%;
    padding-bottom: 2%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.screengrab{
    display: block;
    width: 40%;
    max-width: 900px;
    margin: auto;
}