/* Robert Daniels, 04/11/2022 */


header{
    display: inline-block;
    
}
body {
    width: 80%;
    margin: auto;
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    background-color: antiquewhite;
    padding-top: 2%;
    padding-bottom: 2%;
}

label {
    display: block;
    float: left;
    width: 100%;

}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}


p {
    font-weight: lighter;
}



/* Divs that will turn on based on user calculation choice */

#tvmDiv {
    display: none;
}

#mathDiv {
    display: none;
}

#binaryConvertDiv {
    display: none;
}

#tvmForm {
    text-align:left;
    display: block;
    width: 90%
    
}
