/* Robert Daniels, 04/29/2022 */


header{
    grid-area: sidebar;
    
}
body {
    grid-area: content;
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    background-color: antiquewhite;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
}


h3 {
    text-align: center;
}

li {
    font-weight: bold;
}

p {
    font-weight: lighter;
}

ul {
    font-weight: lighter;
}

#userAcceptanceDiv {
    text-align: center;
}

.activatedDiv {
    display: inline;
}

.deactivatedDiv {
    display: none
}

#tryAgainDiv {
    display: flex; 
    justify-content: center;
    align-items: center;   
    padding-top: 1em;
}

#answerResult {
    text-align: justify;
}

#questionSocket {
    padding-top: 1em;
}


/* Images */

 #correctImage {
    display:flex;
    width: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
}

#incorrectImage {
    display: flex;
    width: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
} 

/* Media Queries */

@media screen and (max-width: 900px) {
    
    #container {
        width: 100%;
    }

    header {
        display: inline;
    }
}

@media screen and (max-width: 600px) {
    header {
        display: none;
    }
}

